{% extends '::base.html.twig' %}


{% block body %}
    {% javascripts '@main' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h1>Testing</h1>
{% endblock %}